.h1 {
    text-align:center;
    font-style:italic;
    color:#fc5137;
    font-family: "Italiano 25px";
}
li {
    padding:7px;
}
li a:hover {
    background-color: red;
    color: white;
    text-decoration: none;
}
nav-tabs a{
    color:white;
}
.d-block img-fluid {
    height:500px;
    width:500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
    text-align:center;
    font-family:"Slabo" 15px;
   
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.blue {
    font-style: italic;
    color: #fc5137;
}
h2 {
    text-align:center;
    font-family:"Slabo" 15px;
}
#font {
    
    font-family:"Slabo 20px";
}
.pic{
    height:50px;
    width:50px;
    float:left;
    
}
.quotes {
    text-align:center;
}
.pictures {
    height:100px;
}
.h {
    text-align:center;
}
.bev {
}