h1 {
    text-align:center;
    font-style:italic;
    color:#fc5137;
}
img {
    height:100px;
    float:left;
}
li {
    padding:7px;
}
li a:hover {
    background-color: #fc5137;
    color: white;
    text-decoration: none;
}
body {
background-color:#bef441;
}
.nav-tabs a{
    color:white;
}
.d-block img-fluid {
    height:500px;
    width:500px;
}